/*From App.vue*/
body {
  background-color: #353526;;
  color: #e4e0c7;
  font-family: "PT Sans", sans-serif;
  font-size: 1em;
/* the following styles need some help */
  padding: 3%;
  padding-top: 20px;
}

ul, ol {
  list-style-type: none;
  padding:  0;
}

h1 {
  font-size: 2em;
  font-style: italic;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 1.75em;
  margin: 0;
}

#app {
}

/* Don's freelancing */
#main-menu li {
  display: inline;
}

.little-title {
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}


/*From StuyStroll*/ 
  header {
    margin: 1em 0;
  }

  #wrapper {
    width: 100vw;
    overflow-x: scroll;
  }

/*Caption-band and view-frame moved to respective sub-comonents*/

/*Don: new for svg responsiveness! */
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

h2 {
  font-size: 1.7em;
  font-style: italic;
  font-weight: normal;
  margin: 0;
}

/*caption titles*/
h4 {
  margin: .25em 0 -1em 0;
}

  /*Don's highlighting - from st8 and st10*/

.low-spot {
  fill:#666666;
  opacity: 0;
}

.hi-spot {
    fill:#FFAC06;
    stroke-width:2;
    stroke-miterlimit:10;
    opacity: .25;
    stroke:#FFAC06;
    stroke-opacity: .9;
}

.hi-text {
  color: #FFAC06;
}

/* changes to caption styles - the width will need to be made responsive*/
.cap {
  position: absolute;
  width:  160px;
}

/* End changes to caption styles*/

/*Stroll version of slimpop*/
.strollbox {
  position: fixed;
  top:100px;
  width: 600px;
  height: 500px;
  z-index: 99;
}

/* shared styles for journal and credits popups, specific styles in FullEntry.vue and Credits.vue */
#stroll-pop-wrapper {
  background-color: #f9f6ea;  
  border: 1px solid gray;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
  color: #333024;
  overflow:  auto;
  padding: 1.5em;
  position: relative;
}


  .st2{font-family:'PTSans-NarrowBold';}
  .st8{fill:none;stroke:#FFAC06;stroke-width:2;stroke-miterlimit:10;}
  .st9{opacity:0.6;fill:none;stroke:#FFA300;stroke-width:19;stroke-linecap:round;stroke-miterlimit:10;}
  .st10{fill:#FFA300;}
  .st11{font-size:20px;}


/*From 14th st*/  
#caption-band {
background-color: #464231;
width: 200%;
padding:  .1em;
position: relative;
font-size: .75em;
height: 100px;
}

#view-frame {
position: relative;
width: 200%;
/*Don fix*/
height: 80vh;
}

